.movie-card {
    width: 40%;
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    background: #C4C4C4;
    height: 550px;
    padding: 10px;
    border-radius: 3px;
}

.image-watchlist {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 20px;
}

.poster {
    height: 500px;
    border-radius: 3px;
}

.add-to-watchlist {
    background: #F5C518;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 5px;
    margin-top: 5px;
}

.add-to-watchlist:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px grey;
}

.icon {
    margin-right: 10px;
}

.movie-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-y: auto;
}

.movie-title {
    font-family: Roboto;
    font-size: 1.7rem;
    letter-spacing: 0.05em;
    -webkit-text-stroke: 1px black;
}

.bold-text {
    font-weight: bold;
}

.rate-small {
    font-size: 0.7rem;
    font-family: Roboto;
    font-weight: normal;
}